input[type="text"] {
	appearance: none;
	border-style: none;
	font-size: 50px;
	border-bottom: solid 2px;
	font-family: "Handwritten";
	width: 300px;
	line-height: 50px;
	display: block;
	padding: 0px 0px;
	&:focus {
		outline: none;
	}
}
