@import "bubble";
@import "inputSpace";
@import "wordChain";
@import "button";
@import "instructionWordChain";

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
}
@font-face {
	font-family: "Handwritten";
	src: url("../assets/FuturaHandwritten.ttf");
}
.root {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// background: black;
	font-family: "Handwritten";
	font-size: 30px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	.buttonsArea {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.loadingOuter {
	margin-top: 50px;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	.loading {
		perspective: 400px;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}
